@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');

*{
    margin:0;
    padding:0;
}

:root{
    --font-escrever:'Indie Flower', cursive;
}

body, html{
    font-family:Arial, Helvetica, sans-serif;
    margin:0;
    padding:0;
    background-color: #dac3b9;
}

a{
    text-decoration:none;
}

p{
    margin-bottom:18px;
}

.title{
    font-family: Arial, Helvetica, sans-serif;
    text-align:center;
    margin-bottom:16px;
}

.obra{
    background-color: #79c579;
}

.autor{
    background-color:#886646;
    color:#fff;
}

.arte{
    background-color:#b88d5c;
}

.mural{
    margin:auto;
    background-color:#886646;
}

.big{
    float:right;
    margin-bottom:23px;
    margin-left:auto;
    margin-right:auto;
}

header{
    background-color: #1f1009;
    padding:30px;
}



header h1{
    font-family: 'Nabla';
    text-align: center;
    font-size: 5em;
}

@media (max-width:525px){
    header h1{
        font-size: 40px;
    }

    header nav a{
        font-size: 11.2px;
    }

    p{
        font-size: 13.2px;
        color:#000;
    }

    h1{
        font-size: 20px;
    }

    header{
        width:90%;
    }

    article{
        width:50%;
    }
}



header > nav{
    padding:40px 30px 10px 30px;
    margin:0 auto;
    vertical-align: middle;
    text-align:center;
    max-width: 400px;
}

header > nav > a {
    padding:10px;
    margin:10px;
    border-radius:6px;
    font-family: 'Nabla';
    font-size:20px;
    color:rgb(119, 119, 119);
}

header > nav > a:hover {
    background-color: rgb(134, 96, 96);
    border-radius:6px;
    text-decoration:none;
    transition-duration: 0.6s;
    color:#000;
}


main article{
    min-width: 30%;
    margin:auto;
    margin-top:1em;
    margin-bottom:1em;
    font-family:var(--font-escrever);
    width:40%;
    background-color: #79c579;
    font-size:18px;
    padding:30px;
    border-radius:10px;
    color:#000;
    box-sizing: border-box;
}




/*Créditos*/
#cred article{
    margin:auto;
    margin-top:1em;
    font-family:var(--font-escrever);
    font-size:18px;
    padding:30px;
    border-radius:10px;
}
/*Fim dos créditos*/





/*Jogo*/
#jg article{
    width:44%;
    min-width:39%;
    max-width:55%;
}

#aviso{
    display:none;
    margin:auto;
}

@media (max-width:828px){
    .canvas{
        display:none;
        width:74%;
        margin-bottom:3em;
        margin-top:3em;
    }

    .contblock{
        display: none;
    }

    #aviso{
        width:90%;
        display:inline-block;
        margin-right:auto;
        margin-left:auto;
        margin-top:1em;
    }

    #cm-jogar{
        width:100%;
    }

    #cm-jogar, #grat{
        margin:auto;
        display: none;
    }

    
}

.canvas {
	border: 3px solid #9c672a;
}

.contblock {
    margin:auto;
    width:56%;
}

#cm-jogar{
    
    border-radius:10px;
}
/*Fim do jogo*/

/*Mural de fotos*/
ul{
    margin:auto;
    display:inline;
}

ul li{
    list-style-type: none;
    display: inline-block;
    padding:0;
    margin:0;
    padding:10px;
    padding-top:15px;
    border-radius:10px;
    background-color: #b88d5c;
}

ul li img{
    display:block;
    width:100%;
}
